* {
  background-color: rgb(e, e, e);
}

#login {
  width: 300px;
  height: 80px;
  margin-right: 0px;
  margin-left: -109px;
}

.navbar-expand-lg {
  margin-bottom: 0px;
  padding-top: 0px;
}

.jumbotron {
  background-image: url(./indeximg.jpg);
  background-size: cover;
  height: 100vh;
}
.maintext {
  padding-top: 25%;
}

.googfont {
  font-family: "Exo", sans-serif;
}
