{% extends "base.html" %}

    {% block title %}
        Recommendations
    {% endblock %}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="../static/buttonpress.js"></script>
    {% endblock %}

    {% block content %}
    <div class="container-fluid">
        <p class="">Get recommendations by:</p> 

        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button id="One" type="button" class="btn btn-primary btn-lg " data-bs-toggle="button" autocomplete="off">Artist</button>
            <button id="Two" type="button" class="btn btn-primary btn-lg" data-bs-toggle="button" autocomplete="off">Playlists</button>
            <button id="Three" type="button" class="btn btn-primary btn-lg" data-bs-toggle="button" autocomplete="off">Genre</button>
        </div>


        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Enter location/city:</label>
            <input class="form-control" type="text" placeholder="Toronto" aria-label="default input example">
        </div>


        <div class="mb-3">

            <form method="POST" action="{{ url_for('playlist')}}">
                <label for="exampleFormControlInput1" class="form-label">Enter date range of live performances:</label>
                <label for="start">Start date:</label>
                <input type="date" class="form-control" id="start" name="events-start"
                    value="2022-02-06">
                <label for="end">End date:</label>
                <input type="date" class="form-control" id="end" name="events-end"
                    value="2022-02-07">
                <!-- <input name="start" class="form-control" type="text" placeholder="Start date" aria-label="default input example">
                <input name="end" class="form-control" type="text" placeholder="End date" aria-label="default input example"> -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            
            <!-- <select class="form-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select> -->
        </div>
    </div>
    {% endblock %}
